html,
body {
    overflow-x: hidden;
}

/* Big title -------------------------------------------------------------------------------------------------------------------------*/

#pageTitle {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20.2vw;
    height: 100vh;
}

/* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

.normalText {
    font-weight: 500;
    font-size: 2vw;
}

#presentation {
    display: block;
    margin: 12vh 10vw 55vh 45vw;
}

/* Skills ------------------------------------------------------------------------------------------------------------------------------ */

#skills {
    margin: 0vh 0 10vh 10vw;
}

#modeling {
    padding: 2.8vw 4vw;
    border-radius: 3vw;
    margin: 0 3vw 20vw 10vw;

}

#levelDesign {
    background-image: url(../materials/shape_skill.svg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 5.9vw 3.5vw 5.5vw 3.8vw;

}

#development {
    padding: 2.2vw 3.8vw;
    border-radius: 5vw;
}

.skillsText {
    font-weight: 500;
    font-size: 1.3vw;
    margin-right: 3vw;
    display: inline-block;
}

/* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#workContainer {
    padding: 0 1vw;
    margin-bottom: 1.2vw;
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
}

.workObject {
    height: 28vw;
    width: 30%;
    flex-grow: 1;
    border-radius: 1vw;
    transition: 0.2s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: solid 0.2vw #FFC5B3;
}

.workObject:hover {
    transform: scale(1.03);
}

.workText {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.8vw 1vw;
    font-weight: 500;
    font-size: 1.5vw;
    border-radius: 0 0 0.85vw 0.85vw;
    color: #FFC5B3;
}

.category {
    font-weight: 400;
    font-size: 1vw;
}

#dolce_vita {
    background-image: url(../materials/dolce_vita/cover.jpg);
}

#roma_nel_mondo {
    background-image: url(../materials/roma_nel_mondo/cover.jpg);
}

#offthegrid {
    background-image: url(../materials/offthegrid/copertina.jpg);
}

#seeAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    background-color: #FED9B7;
    padding: 0.7vw 1.5vw;
    margin: 0 1vw 0.7vw 87.7vw;
    border-radius: 50vw;
    font-size: 1.1vw;
}

#seeAll:hover {
    color: #FED9B7;
    background-color: #9B5313;
    cursor: pointer;
}

/* Contacts ---------------------------------------------------------------------------------------------------------------------------------------------- */

#contactsContainer {
    width: 100%;
    padding-top: 6vh;
    padding-bottom: 6vh;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    border-top: solid 1px #FED9B7;
}

.contactsObject {
    width: 3vw;
    height: 3vw;
    background-repeat: no-repeat;
    background-size: 3vw;
    background-position: center;
    padding: 2vw;
    margin: 0 1vw;
    border-radius: 30%;
}

.contactsObject:hover {
    cursor: pointer;
}

#instagram {
    background-image: url(../materials/instagram.png);
}

#linkedin {
    background-image: url(../materials/linkedin.png);
}

#mail {
    background-image: url(../materials/mail.png);
}

@media only screen and (max-width: 600px) {
    
/* Big title -------------------------------------------------------------------------------------------------------------------------*/

#pageTitle {
    font-size: 20vw;
    height: 50vw;
    margin-top: 5vw;
}

/* Normal text -----------------------------------------------------------------------------------------------------------------------------*/

.normalText {
    font-size: 4.5vw;
}

#presentation {
    margin: 0vw 7vw 20vw 37vw;
}

/* Skills ------------------------------------------------------------------------------------------------------------------------------ */

#skills {
    margin: 0 20vw 10vw 6vw;
}

#modeling {
    padding: 6vw 7.5vw;
    border-radius: 7vw;
    margin: 0 auto;
    margin-bottom: 7vw;
}

#levelDesign {
    background-image: url(../materials/shape_skill.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    padding: 13vw 10vw;
    margin: 0 auto;
    margin-bottom: 7vw;
}

#development {
    padding: 4vw 7vw;
    border-radius: 50vw;
    margin: 0 auto;
    margin-bottom: 15vw;
}

.skillsText {
    font-weight: 500;
    font-size: 4.5vw;
    display: block;
    width: fit-content;
    
}

/* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */
#workContainer {
    padding: 0 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-flow: column wrap;
    gap: 2vw;
}

.workObject {
    height: 50vw;
    width: 100%;
    border-radius: 3vw;
    border: solid 0.5vw #FED9B7;
}

.workObject:hover {
    transform: scale(1);
}

.workText {
    padding: 2vw 3vw;
    font-size: 4.5vw;
    border-radius: 0 0 2.6vw 2.6vw;
    color: #FED9B7;
}

.category {
    font-size: 3vw;
}

#seeAll {
    padding: 2vw 3vw;
    margin: 0 4.5vw 2vw 68vw;
    border-radius: 50vw;
    font-size: 3vw;
}

/* Contacts ---------------------------------------------------------------------------------------------------------------------------------------------- */

#contactsContainer {
    width: 100%;
    padding: 5vw 0;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    border-top: solid 1px #FED9B7;
}

.contactsObject {
    width: 8vw;
    height: 8vw;
    background-repeat: no-repeat;
    background-size: 8vw;
    background-position: center;
    padding: 4vw;
    margin: 0 1.5vw;
    border-radius: 30%;
}

}

@media only screen and (min-width: 600px) and (max-width: 992px) {
    
    /* Big title -------------------------------------------------------------------------------------------------------------------------*/
    
    #pageTitle {
        height: 50vw;
    }
    
    /* Normal text -----------------------------------------------------------------------------------------------------------------------------*/
    
    .normalText {
        font-size: 2.2vw;
    }
    
    #presentation {
        margin: 4vw 15vw 19vw 37vw;
    }
    
    /* Skills ------------------------------------------------------------------------------------------------------------------------------ */
    
    #skills {
        margin: 0 0 7vw 7vw;
    }
    
    #modeling {
        padding: 3.5vw 5vw;
        border-radius: 4vw;
        margin: 0 9vw 15vw 7vw;
    
    }
    
    #levelDesign {
        background-image: url(../materials/shape_skill.svg);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        padding: 7vw 3.5vw 7vw 3.8vw;
    
    }
    
    #development {
        padding: 3vw 4.5vw;
        border-radius: 8vw;
        margin: 0;
    }
    
    .skillsText {
        font-size: 2vw;
        margin-right: 9vw;
    }
    
    /* Works -------------------------------------------------------------------------------------------------------------------------------------------------------- */
    #workContainer {
        padding: 0 1.5vw;
        margin-bottom: 1.2vw;
        gap: 1.5vw;
    }
    
    .workObject {
        height: 30vw;
        border-radius: 1.3vw;
    }
    
    .workText {
        padding: 1vw 1.2vw;
        font-size: 1.6vw;
        border-radius: 0 0 1.1vw 1.1vw;
    }
    
    .category {
        font-size: 1.04vw;
    }
    
    #seeAll {
        padding: 0.85vw 1.5vw;
        margin: 0 1.5vw 1vw 85vw;
        font-size: 1.4vw;
    }
    
    #seeAll:hover {
        color: #FED9B7;
        background-color: #9B5313;
        cursor: pointer;
    }
    
    /* Contacts ---------------------------------------------------------------------------------------------------------------------------------------------- */
    
    #contactsContainer {
        width: 100%;
        height: 8vw;
        padding-top: 5vw;
        padding-bottom: 5vw;
        display: flex;
        justify-content: center;
        margin-top: 1.5vh;
        border-top: solid 1px #FED9B7;
    }
    
    .contactsObject {
        width: 3vw;
        height: 3vw;
        background-repeat: no-repeat;
        background-size: 3vw;
        background-position: center;
        padding: 2vw;
        margin: 0 1vw;
        border-radius: 30%;
    }
    
    }

/* Moving image ----------------------------------------------------------------------------------------------------------------------------------------------*/

#pImageDiv {
    position: absolute;
    top: 88vh;
    left: 10vw;
    -webkit-mask-image: url(../materials/google_shape.svg);
    mask-image: url(../materials/google_shape.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: rotateMask 8s linear infinite;
}

#pImageDiv img {
    position: absolute;
    width: inherit;
    height: inherit;
    animation: inherit;
    animation-direction: reverse;
    transition: opacity .5s;
}

.normalImage {
    width: 15vw;
    height: 15vw;
    transition-timing-function: linear;
}

.imageSize1 {
    width: 25vw;
    height: 25vw;
    transition: 1s ease-out;
}

.imageSize2 {
    width: 20vw;
    height: 20vw;
}

.imageTransparent {
    opacity: 0;
    transition-property: opacity;
}

@keyframes rotateMask {
    to {
        transform: rotate(360deg)
    }
}

@media only screen and (max-width: 600px) {

    #pImageDiv {
        top: 52.5vw;
        left: 5vw;
    }

    .normalImage {
        width: 26vw;
        height: 26vw;
        transition-timing-function: linear;
    }
}

@media only screen and (min-width: 601px) and (max-width: 992px){

    #pImageDiv {
        top: 30.5vh;
        left: 5vw;
    }

    .normalImage {
        width: 26vw;
        height: 26vw;
        transition-timing-function: linear;
    }
}

@media only screen and (max-width: 1200px) {
    #pImageDiv {
        animation: none;
    }
}