body {
    position: absolute;
    width: 100%;
}

html {
    background-color: #FFC5B3;
}

#navbar {
    border-bottom: 1px solid #FFC5B3;
}

/* Project ----------------------------------------------------------------------------------------------------------------------------------------------- */

.projectContainer {
    margin: 8vw 4vw 0vw 4vw;
    padding: 4vw;
    background-color: #FFFCEE;
    border-radius: 2vw;
    display: block;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
}

.titleContainer {
    display: block;
    flex-grow: 1;
}

.projectTitle {
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 0.5vw;
    color: #FFC5B3;
    text-wrap: wrap;
}

.projectTitle img {
    margin-left: 2vw;
    width: 3.5vw;
    transform: translateY(5%);
    transition: 0.2s;
}

.projectTitle img:hover {
    transform-origin: bottom left;
    transform: translateY(5%);
    transform: scale(1.05);

}

.projectSubtitle {
    font-weight: 500;
    font-size: 1.4vw;
    margin: 1vw 0 1.5vw 0;
    color: #FFC5B3;
}

.collaborators {
    padding: 1vw 0 0 4vw;
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 2.2vw;
    flex-shrink: 3;
}

.collaboratorsTitle {
    color: #FFC5B3;
    font-weight: 700;
    font-size: 2vw;
    line-height: 2vw;
}

.projectText {
    font-weight: 500;
    font-size: 1.2vw;
    line-height: 1.8vw;
}

.storyBox {
    padding: 3.8vw 4vw;
    background-color: #FFFCEE;
    border-radius: 2vw;
    width: 25vw;
}

.roundedImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #FFFCEE;
    border-radius: 2vw;
    flex-grow: 1;
    border: none;
}

iframe {
    width: 100%;
    height: 40vw;
}

.storyContainer {
    display: flex;
    flex-flow: row wrap;
    gap: 1vw;
    padding: 1vw 4vw 4vw 4vw;
}

@media only screen and (min-width: 600px) {
    .mobileCollaborators {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .projectContainer {
        margin: 16vw 4vw 0vw 4vw;
        padding: 4vw;
        border-radius: 4vw;
    }

    .headerContainer {
        display: block;
    }

    .titleContainer {
        width:100%;
    }

    .projectTitle {
        font-size: 5.7vw;
        margin-bottom: 0.5vw;
        color: #FFC5B3;
    }

    .projectSubtitle {
        font-size: 2.9vw;
        margin-bottom: 3vw;
    }

    .projectSubcontainer {
        flex-direction: column;
    }

    .projectText {
        width: 100%;
        font-size: 2.9vw;
        line-height: 4vw;
    }

    .collaborators {
        width: 100%;
        padding: 0;
        margin: 4vw 0 0 0;
        font-size: 2.9vw;
        line-height: 4vw;
    }

    .collaboratorsTitle {
        font-size: 4.3vw;
        line-height: 2vw;
    }

    .desktopCollaborators {
        display: none;
    }

    .roundedImage {
        border-radius: 4vw;
    }

    iframe {
        width: 100%;
        height: 52.25vw;
    }

    .imagesContainer {
        gap: 4vw;
        padding: 4vw 4vw 4vw 4vw;
    }

    .storyBox {
        width: 100%;
        border-radius: 4vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {

    .projectContainer {
        margin: 12vw 4vw 0vw 4vw;
    }

    .projectTitle {
        font-size: 4vw;
        margin-bottom: 0.5vw;
    }

    iframe {
        width: 100%;
        height: 52.5vw;
    }
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */



/* Hell's Chicken ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#hellsChickenCover {
    width: 60%;
    height: 30vw;
    background-image: url(../materials/hells_chicken/copertina.jpg);
}

#hellsChicken1 {
    width: 40%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen1.jpg);
}

#hellsChicken2 {
    width: 40%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen2.jpg);
}

#hellsChicken3 {
    width: 40%;
    height: 32vw;
    background-image: url(../materials/hells_chicken/screen3.jpg);
}

#hellsChicken4 {
    width: 25%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen4.jpg);
}

#hellsChicken5 {
    width: 25%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen5.jpg);
}

#hellsChicken6 {
    width: 25%;
    height: 25vw;
    background-image: url(../materials/hells_chicken/screen6.jpg);
}

@media only screen and (max-width: 768px) {

    .storyBox {
        width: 100%;
    }

    #hellsChickenCover {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken1 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken2 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken3 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken4 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken5 {
        width: 100%;
        height: 50vw;
    }

    #hellsChicken6 {
        width: 100%;
        height: 50vw;
    }
}

/* Hell's Chicken ------------------------------------------------------------------------------------------------------------------------------------------------------------ */
#dirtyVideo {
    width: 35%;
    height: 35vw;
}

#dirty1 {
    width: 40%;
    height: 25vw;
    background-image: url(../materials/dirtypiggybank/dirty1.png);
}

#dirtypiggybankCover {
    width: 40%;
    height: 25vw;
    background-image: url(../materials/dirtypiggybank/copertina.png);
}

#dirty2 {
    width: 30vw;
    height: 30vw;
    background-image: url(../materials/dirtypiggybank/dirty2.png);
}

@media only screen and (max-width: 768px) {
    #dirtypiggybankCover {
        width: 100%;
        height: 50vw;
    }

    #dirtyVideo {
        width: 100%;
        height: 50vw;
    }
    
    #dirty1 {
        width: 100%;
        height: 50vw;
    }
    
    #dirty2 {
        width: 100%;
        height: 50vw;
    }
}

/* I Grrr ----------------------------------------------------------------------------------------------------------------------------- */

#grrrCover {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/grrr/copertina.jpg);
}

#grrr1 {
    width: 50%;
    height: 30vw;
    background-image: url(../materials/grrr/grrr1.jpg);
}

#grrr2 {
    width: 30%;
    height: 31vw;
    background-image: url(../materials/grrr/grrr2.jpg);
    background-position: 65% 0;
}

#grrr3 {
    width: 30%;
    height: 31vw;
    background-image: url(../materials/grrr/grrr3.jpg);
    background-position: 60% 0;
}

#grrr4 {
    width: 30%;
    height: 31vw;
    background-image: url(../materials/grrr/grrr4.jpg);
}

#grrr5 {
    width: 100%;
    height: 45vw;
    background-image: url(../materials/grrr/grrr5.jpg);
}

@media only screen and (max-width: 768px) {
    #grrrCover {
        width: 100%;
        height: 50vw;
    }

    #grrr1 {
        width: 100%;
        height: 50vw;
    }

    #grrr2 {
        width: 100%;
        height: 50vw;
        background-position: 50% 50%;
    }

    #grrr3 {
        width: 100%;
        height: 50vw;
        background-position: 50% 50%;
    }

    #grrr4 {
        width: 100%;
        height: 50vw;
    }

    #grrr5 {
        width: 100%;
        height: 50vw;
    }
}

/* Keith Haring ----------------------------------------------------------------------------------------------------------------------------- */

#haringCover {
    width: 100%;
    height: 48vw;
    background-image: url(../materials/haring/copertina.jpg);
}

#haring1 {
    width: 25%;
    height: 30vw;
    background-image: url(../materials/haring/haring1.jpg);
}

#haring2 {
    width: 25%;
    height: 30vw;
    background-image: url(../materials/haring/haring2.jpg);

}

#haring3 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/haring/haring3.jpg);
}

#haring4 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/haring/haring4.jpg);
}

#haring5 {
    width: 45%;
    height: 30vw;
    background-image: url(../materials/haring/haring5.jpg);
}

#haring6 {
    width: 45%;
    height: 30vw;
    background-image: url(../materials/haring/haring6.jpg);
}

@media only screen and (max-width: 768px) {
    #haringCover {
        width: 100%;
        height: 50vw;
    }

    #haring1 {
        width: 100%;
        height: 50vw;
    }

    #haring2 {
        width: 100%;
        height: 50vw;
    }

    #haring3 {
        width: 100%;
        height: 50vw;
    }

    #haring4 {
        width: 100%;
        height: 50vw;
    }

    #haring5 {
        width: 100%;
        height: 50vw;
    }

    #haring6 {
        width: 100%;
        height: 50vw;
    }
}

/* Mario Kart Wii ----------------------------------------------------------------------------------------------------------------------------- */

#mkwiiCover {
    width: 100%;
    height: 40vw;
    background-image: url(../materials/mkwii/mkwii12.jpg);
}

#mkwii0 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii0.jpg);
}

#mkwii1 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii1.jpg);
}

#mkwii2 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii2.jpg);

}

#mkwii3 {
    width: 100%;
    height: 40vw;
    background-image: url(../materials/mkwii/mkwii3.jpg);
}

#mkwii4 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii4.jpg);
}

#mkwii5 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii5.jpg);
}

#mkwii6 {
    width: 100%;
    height: 40vw;
    background-image: url(../materials/mkwii/mkwii6.jpg);
}

#mkwii7 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii7.jpg);
}

#mkwii8 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii8.jpg);
}

#mkwii9 {
    width: 100%;
    height: 40vw;
    background-image: url(../materials/mkwii/mkwii9.jpg);
}

#mkwii10 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii10.jpg);
}

#mkwii11 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii11.jpg);
}

#mkwii13 {
    width: 50%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii13.jpg);
}

#mkwii14 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii14.jpg);
}

#mkwii15 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii15.jpg);
}

#mkwii16 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii16.jpg);
}

#mkwii17 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii17.jpg);
}

#mkwii18 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/mkwii/mkwii18.jpg);
}


@media only screen and (max-width: 768px) {
    #mkwiiCover {
        width: 100%;
        height: 50vw;
    }

    #mkwii0 {
        width: 100%;
        height: 50vw;
    }

    #mkwii1 {
        width: 100%;
        height: 50vw;
    }

    #mkwii2 {
        width: 100%;
        height: 50vw;
    }

    #mkwii3 {
        width: 100%;
        height: 50vw;
    }

    #mkwii4 {
        width: 100%;
        height: 50vw;
    }

    #mkwii5 {
        width: 100%;
        height: 50vw;
    }

    #mkwii6 {
        width: 100%;
        height: 50vw;
    }

    #mkwii7 {
        width: 100%;
        height: 50vw;
    }

    #mkwii8 {
        width: 100%;
        height: 50vw;
    }

    #mkwii9 {
        width: 100%;
        height: 50vw;
    }

    #mkwii10 {
        width: 100%;
        height: 50vw;
    }

    #mkwii11 {
        width: 100%;
        height: 50vw;
    }


    #mkwii12 {
        width: 100%;
        height: 50vw;
    }

    #mkwii13 {
        width: 100%;
        height: 50vw;
    }

    #mkwii14 {
        width: 100%;
        height: 50vw;
    }

    #mkwii15 {
        width: 100%;
        height: 50vw;
    }

    #mkwii16 {
        width: 100%;
        height: 50vw;
    }

    #mkwii17 {
        width: 100%;
        height: 50vw;
    }

    #mkwii18 {
        width: 100%;
        height: 50vw;
    }
}

/* Off The Grid ----------------------------------------------------------------------------------------------------------------------------- */

#offthegridCover {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/offthegrid/copertina.jpg);
}

#offthegrid1 {
    width: 50%;
    height: 30vw;
    background-image: url(../materials/offthegrid/offthegrid1.jpg);
}

#offthegrid2 {
    width: 40%;
    height: 28vw;
    background-image: url(../materials/offthegrid/offthegrid2.jpg);

}

#offthegrid3 {
    width: 45%;
    height: 24vw;
    background-image: url(../materials/offthegrid/offthegrid3.jpg);
}

#offthegrid4 {
    width: 45%;
    height: 24vw;
    background-image: url(../materials/offthegrid/offthegrid4.jpg);
}

#offthegrid5 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/offthegrid/offthegrid6.jpg);
}

@media only screen and (max-width: 768px) {
    #offthegridCover {
        width: 100%;
        height: 50vw;
    }

    #offthegrid1 {
        width: 100%;
        height: 50vw;
    }

    #offthegrid2 {
        width: 100%;
        height: 50vw;
    }

    #offthegrid3 {
        width: 100%;
        height: 50vw;
    }

    #offthegrid4 {
        width: 100%;
        height: 50vw;
    }

    #offthegrid5 {
        width: 100%;
        height: 50vw;
    }
}

/* Le Auto della Dolce Vita ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#dolce_vitaCover {
    width: 100%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/cover.jpg);
    background-position: bottom;
}

#dolce_vitaVideo {
    width: 50%;
    height: 33vw;
}

.dolce_vitaStoryBox {
    width: 43%;
    height: 33vw;
    box-sizing: border-box;
}

#dolce_vita1 {
    width: 56%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/fountain_2.jpg);
}

#dolce_vita2 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/fountain_1.jpg);
}

#dolce_vita3 {
    width: 40%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/triumph_1.png);
    background-size: contain;
}

#dolce_vita4 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/dolce_vita/triumph_2.png);
}

#dolce_vita5 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_4.png);
}

#dolce_vita6 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_7.png);
}

#dolce_vita7 {
    width: 50%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_5.png);
}

#dolce_vita8 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/dolce_vita/triumph_6.png);
    background-size: contain;
}

#dolce_vita9 {
    width: 40%;
    height: 50vw;
    background-image: url(../materials/dolce_vita/triumph_3.png);
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    #dolce_vitaCover,
    #dolce_vitaVideo,
    .dolce_vitaStoryBox,
    #dolce_vita1,
    #dolce_vita2,
    #dolce_vita3,
    #dolce_vita4,
    #dolce_vita5,
    #dolce_vita6,
    #dolce_vita7,
    #dolce_vita8,
    #dolce_vita9 {
        width: 100%;
        height: 50vw;
    }

    .dolce_vitaStoryBox {
        height: auto;
    }
}

/* DNA of Italian Motorsport ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#dnaCover {
    width: 100%;
    height: 35vw;
    background-image: url(../materials/dna/cover.jpg);
}

#dnaVideo {
    width: 25%;
    height: 35vw;
}

.dnaStoryBox {
    width: 35%;
    height: 35vw;
    box-sizing: border-box;
    overflow-y: auto;
}

@media only screen and (max-width: 768px) {
    #dnaCover,
    #dnaVideo {
        width: 100%;
        height: 50vw;
    }

    .dnaStoryBox {
        width: 100%;
        height: auto;
    }
}

/* Futura ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#futuraCover {
    width: 100%;
    height: 35vw;
    background-image: url(../materials/futura/world.jpg);
}

#futura1 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/futura/hub_2.jpg);
}

#futura2 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/futura/hub_3.jpg);
    background-position: 65% 0;
}

#futura3 {
    width: 40%;
    height: 35vw;
    background-image: url(../materials/futura/hub_1.jpg);
    background-position: 60% 0;
}

#futura4 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/futura/roblox_1.jpg);
}

#futura5 {
    width: 60%;
    height: 35vw;
    background-image: url(../materials/futura/roblox_2.jpg);
}

#futura6 {
    width: 30%;
    height: 35vw;
    background-image: url(../materials/futura/EnergyStore.png);
}

#futura7 {
    width: 40%;
    height: 40vw;
    background-image: url(../materials/futura/buddy1.png);
    background-size: contain;
}

#futura8 {
    width: 40%;
    height: 40vw;
    background-image: url(../materials/futura/buddy2.png);
    background-size: contain;
}

#futura9 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/futura/buddy3.png);
    background-size: contain;
}

#futura10 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/futura/buddy4.png);
    background-size: contain;
}

#futura11 {
    width: 30%;
    height: 30vw;
    background-image: url(../materials/futura/buddy5.png);
    background-size: contain;
}

@media only screen and (max-width: 768px) {
    #futuraCover,
    #futura1,
    #futura2,
    #futura3,
    #futura4,
    #futura5,
    #futura7,
    #futura8,
    #futura9,
    #futura10,
    #futura11 {
        width: 100%;
        height: 50vw;
    }

    #futura6 {
        width: 100%;
        height: 50vw;
        background-size: contain;
    }
}

/* Roma Nel Mondo - The DNA of Rome ------------------------------------------------------------------------------------------------------------------------------------------------------------ */

#romaCover {
    width: 100%;
    height: 35vw;
    background-image: url(../materials/roma_nel_mondo/cover.jpg);
}

.romaStoryBox {
    width: 45%;
    height: 30vw;
    box-sizing: border-box;
}

#roma1 {
    width: 45%;
    height: 30vw;
    background-image: url(../materials/roma_nel_mondo/roma1.jpg);
}

#roma2 {
    width: 60%;
    height: 40vw;
    background-image: url(../materials/roma_nel_mondo/roma2.jpg);
}

#romaVideo {
    width: 35%;
    height: 40vw;
}

@media only screen and (max-width: 768px) {
    #romaCover,
    #roma1,
    #roma2,
    #romaVideo {
        width: 100%;
        height: 50vw;
    }

    .romaStoryBox {
        width: 100%;
        height: auto;
    }
}
